

.body h1 {
    font-weight: 700;
    font-size: larger
}

.body h2 {
    font-weight: 500;
    font-size: large
}

.body h3 {
    font-size: medium;
}

.body h4 {
    font-size: small;
}

.body h5 {
    font-size:x-small;
}

.body h6 {
    font-size: xx-small;
}